body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    overflow-x: hidden;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}

h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container{
    /* width: 1158px; */
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        padding-top: 16px;
        padding-bottom: 16px;
}
.header-nav{
    margin-right: auto;
    display: flex;
    align-items: center;
}

ul, nav ul,
address ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        width: 115px;
            height: 24px;
            padding: 16px 0;
        
}

.logo-part {
    color: #2E2F42;
}

.header-list{
    display: none;
}

/* .nav-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.current{
position: relative;
color: #404BBF;
}

.current::after{
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
} */


.address {
    font-style: normal;
    display: flex;
    gap: 40px;
    display: none;
}

.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;

}

.mob-menu{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 16px 40px;

}
.mob-menu .addres-list-menu{
font-style: normal;
}

.icons-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}
.menu-icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #404BBF;
    border-radius: 25px;
}
.icon-menu{
    fill: #F4F4FD;

}


.btn-menu-cloce{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   

    .icon-close-modal{
        color: #2E2F42;
    }

     .menu-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
        /* margin-left: 16px; */
        margin-bottom: 168px;
        /* margin-top: 24px; */
        margin-bottom: 168px;
     }

     .menu-link{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
     }

.current{
    color: #404BBF;
}
.addres-list-menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 16px;
    margin-bottom: 48px;
    color: #434455;
}
.address-link-menu{
    color: #434455;
}

.tel-color{
color: #4d5ae5;
}

.section-one{
    max-width: 1440px;
    background: #2e2f42;
    padding: 72px 0;
    text-align: center;
    margin: 0 auto;
    background-image: url('../images/hero-mob.jpg');
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

@media screen and (min-resolution: 192dpi){
.section-one{
background-image: url('../images/hero-mob-2x.jpg');
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-mob-2x.jpg');
}
}   


.section-one-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
        width: 216px;
        margin-bottom: 72px;
}


.section-one-btn{
        background: #4d5ae5;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 10px;
            border-radius: 4px;
                width: 169px;
                display: block;
                min-width: 169px;
                height: 56px;
                border: none;
                cursor: pointer;
                margin: 0 auto;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-btn:hover{
background-color: #404BBF;
}

.section-one-btn:focus{
    background-color: #404BBF;
}

.advantages{
padding: 96px 0;
}

.visually-hidden{
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.advantages-list{
display: flex;
flex-wrap: wrap;
    gap: 72px;
    
}

.advantages-item{
width: 100%;

}

.advantages-icons{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


.advantages-item-title{
font-weight: 00;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
text-align: center;
}

.advantages-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



.team-main{
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.icon-web{
    fill: #f4f4fd;
}


.icons-team{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        fill: #f4f4fd;
        margin-top: 8px;
    
}

.team-item{
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list{
display: flex;
flex-wrap: wrap;
gap: 72px;
}

.team-main .container{
    width: 296px;
}

.team-icon-item{
    height: 40px;
    width: 40px;
}

.team-icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover{
    background-color: #404bbf;
}

.team-icon-link:focus {
    background-color: #404bbf;
}

.team-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-div{
padding: 32px 0
}


.portfolio{
    padding-top: 96px;
    padding-bottom: 72px;
}

.portfolio-cover{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    position: absolute;
    font-weight: 400;
    top: 0;
    padding: 40px 32px;
    height: 100%;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-title{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    flex-wrap: wrap;
    display: flex;
    row-gap: 48px;
}


.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0);
}

.portfolio-item-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}


.footer-main{
    background: #2e2f42;
    padding: 96px 0;
}

.footer-all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;

    /* align-items: baseline; */
    
}


.footer-first-div{
    display: grid;
        place-items: center;
    
}

.footer-logo {
    /* display: grid;
    place-items: center;
        height: 100vh; */
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        
}

.footer-logo-color {
display: inline-block;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
font-family: "Raleway", sans-serif;
}

.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.footer-second-div{
        display: grid;
            place-items: center;
}


.footer-web-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-web-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-web-link:hover{
background-color: #31d0aa;
}

.footer-web-link:focus {
    background-color: #31d0aa;
}

 .footer-web{
    display: flex;
    gap: 16px;

} 


.footer-web-item{
    width: 40px;
    height: 40px;
}

ul {
    list-style: none;
}

.footer-subscribe{
    text-align: center;
}


.form-subscribe{
    display: flex;
    flex-direction: column;
color: #2e2f42;
    gap: 16px;

}

.footer-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

input::placeholder {
    color: #ffffff;
}

.footer-subscribe-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.btn-subscribe{
/* min-width: 165px; */
max-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
padding: 8px 24px;
margin: 0 auto;

}

.icon-footer{
    margin-left: 16px;
}

.icon-new{
    margin-left: 16px;
}


.modal-overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 288px;
min-height: 623px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* padding: 72px 24px 24px 24px; */
padding: 72px 16px 24px 16px;
}

.btn-modal{
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover{
background-color: #404bbf;
border: none;
}


.btn-modal:focus {
    background-color: #404bbf;
    border: none;
}

.btn-modal:focus >.icon-close-modal{
fill: #ffffff;
}

.btn-modal:hover >.icon-close-modal {
    fill: #ffffff;
}


.icon-close-modal:hover{
    fill: #ffffff;
}

.icon-close-focus:hover {
    fill: #ffffff;
}


.text-modal{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.label-modal-div{
    margin-bottom: 8px;
}

.label-modal{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-modal{
    position: relative;

}

.input-modal-com{
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-com:focus{
border-color: #4D5AE5;
}

.modal-icon-name{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.input-modal-com:focus+.modal-icon-name{
    fill: #4D5AE5;
}


.btn-modal:hover .modal-icon-name{
    fill: #ffffff;
}

.btn-modal:focus .modal-icon-name {
    fill: #ffffff;
}


.textarea-comment{
    margin-bottom: 16px;
}

.textarea-fig{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-fig:focus{
border-color: #4D5AE5;}

.chekbox{
    margin-bottom: 24px;
}

.ch-hid{

}

.policy{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.policy-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px;

}

.link-policy{
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.policy-input:checked+.policy>.policy-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;}

.btn-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: auto;

}

.btn-send:hover {
    background-color: #404BBF;
}

.btn-send:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .open-menu-btn {
        display: none;
    }
    .header{
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        display: block;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .current {
        position: relative;
        color: #404BBF;
    }

    .current::after {
        content: "";
        position: absolute;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -1px;
    }

    .address {
        display: block;
    }

    .addres-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
    .section-one{
        padding: 112px 0;
    }
    .section-one{
    background-image: url('../images/hero-tab.jpg');
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-tab.jpg');
    }
        @media screen and (min-resolution: 192dpi) {
            .section-one {
                background-image: url('../images/hero-tab-2x.jpg');
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-tab-2x.jpg');
            }
        }

    .section-one-title {
        font-size: 56px;
        line-height: 1.07;
        min-width: 496px;
    }
    .advantages-item-title{
        text-align: start;
    }

    .advantages-list {
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 24px) / 2);
    }

    .team-main .container {
width: 584px;
    }

    .team-list {
        flex-direction: row;
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list{
        flex-direction: row;
        gap: 72px 24px;
    }

    .portfolio-item{
        width: calc((100% - 24px) / 2);
    }

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    .footer-main{
        padding: 96px 0;
    }

    .footer-all .container{
        width: 584px;
    }
    .footer-all{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
        flex-direction: row;
        gap: 72px 24px;
        justify-content: flex-start;
        width: 584px;
    }
        .footer-first-div {
            display: flex;
            justify-content:flex-start;
            flex-direction: column;
            align-items: flex-start;
        }

        .footer-second-div{
            display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
        }

    .form-subscribe{
        display: flex;
        flex-direction: row;
       
    }
    .footer-subscribe{
        text-align: start;
        
    }


.form-subscribe {
                display: flex;
                color: #2e2f42;
                gap: 24px;
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .logo {
        margin-right: 76px;
    }

    .addres-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }
    .section-one {
        padding: 188px 0;
    }
    .section-one {
    background-image: url('../images/people-office.jpg');
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
                }
    @media screen and (min-resolution: 192dpi) {
        .section-one {
                background-image: url('../images/people-office.jpg');
                background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
            }
        }

   .advantages {
       padding: 120px 0;
   }

   .advantages-item-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
   }
    .advantages-icons {
        display: flex;

    }

    .advantages-list {
        flex-direction: row;
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .team-main {
        padding: 120px 0;
    }
                .team-main .container {
                    width: auto;
                }

    .team-list {
        flex-direction: row;
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .portfolio-list{
        column-gap: 24px;
        }
    .portfolio-item{  
        width: calc((100% - 48px) / 3);
        }
    .footer-all .container {
        min-width: 1158px;
        }

    .footer-first-div {
        margin-right: 120px;
        }
    .footer-all{
        width: 1158px;
        flex-direction: row;
        /* align-items: baseline; */
        gap: 0;
        /* padding: 100px 0; */
    }
        /* .footer-second-div{
        margin-right: 80px;
        } */
    .footer-subscribe{
        margin-left: 80px;
    }
    /* .footer-second-div{
        margin-right: 80px;
    } */
