body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    overflow-x: hidden;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}

h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    list-style: none;
}

.container{
    margin: 0 auto;
    max-width: 320px;
    padding: 0 20px;
}




.vegetables{
    padding-top: 96px;
    padding-bottom: 72px;
    background: #7a3145;
}
.vegetables-div{
    background: #fbfbfb;
    border-radius: 40px;
    padding: 32px 30px;
}


.vegetables-title{
font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    width: 335px;
}
.vegetables-span{
    color: rgba(251, 251, 251, 0.3);;
}

.vegetables-list{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}


.vegetables-item {
    background: #e7e9fc;
}
.vegetables-item-title{
    font-weight: 600;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.01em;
        color: #7a3145;
        margin-bottom: 12px;
}


@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }


    .vegetables-list{
        flex-direction: row;
        gap: 20px 28px;
    }

    .vegetables-item{
        width: calc((100% - 28px) / 2);
    }

    


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
    .vegetables {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .vegetables-list{
        column-gap: 24px;
        }
    .vegetables-item{  
        width: calc((100% - 48px) / 3);
    }